.home{color: white;}

.Choose_Heading{
    font-size: 200%;
    padding-bottom: 5%;
}
.Choose_Home{
    justify-items:center ;
    padding-top: 10%;
    padding-bottom: 10%;
}
.ChooseCard{
    display: flex;
    justify-content:center ;
    padding-top: 4%;
  
}

.residence_heading{margin-left: 7%;
font-size: 200%; padding-top: 10%;}
.ResidenceCard{
    display: flex;
    justify-content: space-between;
    margin-left: 7%; padding-bottom: 4%; padding-top: 2%;
}


.Features{margin-left: 7%;}
.feature{font-size:200% ;}
.featureImages{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
}


.header_Home{
    display: flex;
    padding-top: 5%;
    padding-bottom: 7%;
    justify-content: space-between;
}
.header_Heading{
    font-size: 2.5rem;
    font-weight: 700;
   
    margin-bottom: 6%;
}
.headerText{
justify-content: center;
align-items: center; margin-left: 7%;
margin-right: 7%;
margin-top: 7%;
}


.home{
    background-color: rgb(19, 27, 38);
    padding-left: 12%;
    padding-right: 10%;
}
