
.navLink{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration:none;
}
li{list-style-type: none; display: flex;;
outline : none;   flex-direction:row;


}